{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
  <h3 class="mb-5 font-weight-bold">{% trans "Sign Out" %}</h3>
  <p>{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}" class="logout p-3 p-md-5">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <input type="submit" value="{% trans 'Sign Out' %}" class="btn py-3 px-4 btn-danger">
  </form>
{% endblock %}
