{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h3 class="mb-5 font-weight-bold">{% trans "Change Password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change p-3 p-md-5 bg-light">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" value="{% trans "Change Password" %}" class="btn py-3 px-4 btn-primary">
        </div>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
