{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h3 class="mb-5 font-weight-bold">
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    </h3>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="password_change p-3 p-md-5 bg-light">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <input type="submit" value="{% trans "Change Password" %}" class="btn py-3 px-4 btn-primary">
            </div>
        </form>
    {% endif %}
{% endblock %}
